<% include ../templates/head.ejs %>
<h1 class="text-center mt-3 h1 d-none d-sm-block">Calculatrice (v2)</h1>

<% include ./form.ejs %>

<% if (locals.errorMsg) { %>
<div>
    <h2 class="text-center text-danger"><%= locals.errorMsg %></h2>
</div>
<% }%>

<% if (locals.data) { %>

<div class="container-fluid" id="container-list-calcul">
    <%for (var i = 0, length = data.length; i < length; i++) { %>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-2" data-id="<%= data[i]._id %>" data-enabled="<%= (data[i].enabled) %>">


                <div class="row">
                    <div class="col-12">
                        <div class="card border-0 rounded-50">
                            <div class="card-body">
                                <h3 class="card-title m-0">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <p class="d-inline" data-number1="<%= data[i].number1 %>" class="fs20">
                                                <%= data[i].number1 %>
                                            </p>
                                            <p class="d-inline" data-operator="<%= data[i].operator %>" class="fs20">
                                                <%= data[i].operator %>
                                            </p>
                                            <p class="d-inline" data-number2="<%= data[i].number2 %>" class="fs20">
                                                <%= data[i].number2 %>
                                            </p>
                                            <p class="d-inline" class="fs20">=</p>
                                            <p class="d-inline" data-result="<%= data[i].result %>" class="fs20">
                                                <%= data[i].result %>
                                            </p>
                                            <hr class="bt-042" >
                                        </div>



                                        <div class="col-md-12 text-center">
                                            <div class="d-inline">

                                                <button title="Calculer" data-btn="<%= data[i]._id %>"
                                                    onclick="resultCalcul('<%= data[i]._id %>'); return false" type="button"
                                                    class="btn btn-primary <% if(data[i].enabled == 0){ %> disabled <% } %>">
                                                    <i class="fas fa-calculator mr-1"></i>
                                                    <span class="d-none d-md-inline">
                                                        Calculer
                                                    </span>
                                                </button>

                                                <button title="Modifier" data-btn="<%= data[i]._id %>" onclick="editCalcul('<%= data[i]._id %>')"
                                                    type="button"
                                                    class="btn btn-warning  <% if(data[i].enabled == 0){ %> disabled <% } %>"><i class="fas fa-pencil-alt mr-1"></i>
                                                    <span class="d-none d-md-inline">
                                                        Modifier
                                                    </span>
                                                </button>
                                                
                                                <button title="Activer / Désactiver" data-toggle-disable class="btn btn-secondary" onclick="toggleDisable('<%= data[i]._id %>')">
                                                    <% if(data[i].enabled == 0){ %>
                                                    <i class="fas fa-lock mr-1"></i>
                                                    <span class="d-none d-md-inline">
                                                        Activer
                                                    </span>
                                                    <% } else{ %>
                                                    <i class="fas fa-lock mr-1"></i>
                                                    <span class="d-none d-md-inline">
                                                        Désactiver <% } %>
                                                    </span>
                                                </button>

                                                <button title="Supprimer" data-btn="<%= data[i]._id %>"
                                                        onclick="deleteCalcul('<%= data[i]._id %>')"
                                                    class="btn btn-danger <% if(data[i].enabled == 0){ %> disabled <% } %>">
                                                    <i class="far fa-trash-alt mr-1"></i>
                                                    <span class="d-none d-md-inline">
                                                        Supprimer
                                                    </span>
                                                </button>


                                                


                                            </div>
                                        </div>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% }%>
</div>

<% }%>

<% include ../templates/footer.ejs %>